#Ignore everything
*
*/

#Unignore specific sub directories
!/ECS
!/ECS/Components
!/ECS/Systems
!/Utils

#Unignore specific files
!README.md
!.gitignore
!CMakeLists.txt

#Unignore specific file types
!*.cpp
!*.h